src/staticfiles/*
src/media/*
src/static/*
src/back_media/*
src/back_static/*
src/.idea/*
src/.env
src/manga/migrations/00*.py
src/users/migrations/00*.py
src/db.sqlite3
.venv/*
db.sqlite3
.env
.idea/
back_media/
static/
media/
venv/
*.pyc
__pycache__
